<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<div class="author__urls-wrapper">
  <h3 class="author__title">友情链接
  </h3>
  <ul class="author__urls social-icons">
    <li>
      <a href="https://laplace.live/" target="_blank" rel="nofollow noopener noreferrer" title="拉普拉斯花店">
        <i class="fas fa-link" aria-hidden="true"></i> 拉普拉斯花店
      </a>
    </li>
    <li>
</div>