<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<div class="author__urls-wrapper">
  <h3 class="author__title">友情链接</h3>
  <ul class="author__urls social-icons">
    <li>
      <a href="https://laplace.live/" rel="nofollow noopener noreferrer">
        <i class="fas fa-link" aria-hidden="true"></i> 拉普拉斯花店
      </a>
    </li>
    <li>
      <a href="https://github.com/jmzeng1314" rel="nofollow noopener noreferrer">
        <i class="fas fa-link" aria-hidden="true"></i> jimmy大神
      </a>
    </li>
    <li>
      <a href="https://www.zhihu.com/people/yijiaobani" rel="nofollow noopener noreferrer">
        <i class="fas fa-link" aria-hidden="true"></i> 飞哥
      </a>
    </li>
  </ul>
</div>